footer{
    background: var(--colorPrincipal);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-social{
    display: flex;
    align-items: center;
    color: var(--colorWhite);
}

.footer-social img{
    padding: 10px;
}
.footer-social img:hover{
    padding: 10px;
    filter: drop-shadow(0px 0px 1px black);
}

.footer-social p{
    padding: 5px;
    font-size: var(--FontLitle);
}

footer h1{
    color: var(--colorWhite);
    font-size: var(--FontParagraf);
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0.23em;
}
.footer-menu{
    display: flex;
}

.footer-menu a{
    font-size: var(--FontLitle);
    text-decoration: none;
    color: var(--colorWhite);
    padding: 10px;
}
.footer-menu a:hover{
    text-shadow: 1px 0.5px 5px var(--colorBlack);
    padding: 10px;
}
@media (mAX-width:700px) {
    footer{
        flex-direction: column;
    }
    
}