.hero{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 0px;
    flex-wrap:wrap;
    justify-content: center;
}
.heroTitle{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heroTitle h1{
    text-align: start;
    font-size: var(--FontTitle);
    margin: 20px;
}
.heroTitle h1:first-child{
    font-weight: 300;
}
.heroTitle p{
    text-align:start;
    letter-spacing: 0.05em;;
    font-size: var(--FontParagraf);
}
.heroTitle a{
    color: var(--colorWhite);
    width: fit-content;
    text-decoration:none;
    text-align:center;
    margin-top: 40px;
    padding:15px;
    background: var(--colorPrincipal);
    box-shadow: 10px 10px white, 12px 12px var(--colorPrincipal), 12px 8px var(--colorPrincipal), 8px 12px var(--colorPrincipal);
}
.CaruselImages{
    max-width: 560px;
    min-height: 600px;
}
.CaruselImages img{
    box-shadow: 23px 23px white, 25px 25px var(--colorPrincipal), 25px 21px var(--colorPrincipal), 21px 25px var(--colorPrincipal);     
    width: 500px;
    height: 600px;
    object-fit: cover; 
    margin: 30px;
    display: none;
}
.caruselDot a{
    align-items: center;
    background-color: var(--colorBlack);
    font-size: 0px;
    opacity: .3;
    padding: 6px;
    margin:15px 5px;
    border-radius: 10px;
}
.caruselDot a.step.active{
    opacity: .7;
}
.caruselBoton{
    display: flex;
    
} 
.caruselBoton button{
    box-sizing: content-box;
    font-size: var(--FontTitle);
    padding: 15px;
    transition: .6s;
}
.caruselBoton button:hover{
    opacity: .4;
}
.prev,.next{
    border: none;
    font-size: var(--FontTitle);
    background-color: inherit;

}
@media (max-width:750px) {
    .heroTitle{
        width: 80%;
        height: 300px;
    }    
}

@media (max-width:425px) {
    .hero{
        padding: 0px;
        
    }    
    .CaruselImages img {
        box-shadow: 23px 23px white, 25px 25px var(--colorPrincipal), 25px 21px var(--colorPrincipal), 21px 25px var(--colorPrincipal);
        width: 276px;
        height: 315px;
        object-fit: cover;
        margin: 15px;
        display: none;
    } 
    .caruselBoton button {
        box-sizing: content-box;
        font-size: var(--FontTitle);
        padding: 0px;
        transition: .6s;
        margin-top:-200px;
    }
}