.hero{
    display: flex;
    padding: 150px 150px;
}
.heroTitle{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.heroTitle h1{
    font-size: var(--FontTitle);
}
.heroTitle p{
    font-size: var(--FontParagraf);
}
.hero img{
    box-shadow: 23px 23px white, 25px 25px olive, 25px 21px olive, 21px 25px olive;
    width: 450px;
    margin: 20px;
    animation-name: urlChange;
    animation-duration: 13s;
}
@keyframes urlChange{
    from{background-image: url("css/Rectangle 4.png");}
    50%{background-image: url("css/kam-idris-hYb7kbu4x7E-unsplash 1.png");}
    to {background-image: url("css/Rectangle 4.png");}
}
.heroCarusel{
    box-sizing:border-box;
    display: flex;
    justify-content: center;
}