.nosotros{
padding: 50px 0px;
}
.titulo-nosotros{
    display: flex;
    justify-content: flex-start; 
}
.titulo-nosotros img{
    width: 50%;
}
.titulo-nosotros h1{
    font-size: var(--FontNameSection);
    font-weight: 400;
}
.nosotrosInfo{
    padding: 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.nosotrosInfo img{
    max-width:300px;
    margin: 0px 50px 0px 0px;
}
.ninfoContent {
    padding: 0px 0px 0px 20px;
}
.ninfoContent h2,.ninfoContent p{
    text-align: start; 
    padding:10px;
}
.ninfoContent h2{
    font-size: var(--FontTitle);
}
.ninfoContent p{
    font-size: var(--FontNameSection);
}
@media (max-width: 650px) {
    .nosotrosInfo{
        flex-wrap: wrap;
    }
    .nosotrosInfo img{
        transform: scaleX(-1);
        padding: 0px;
        margin: 0px;
    }
}