.titulo-productos{
    display: flex;
    justify-content: flex-end;
    
}
.titulo-productos img{
	width: calc(50% - 70px);
}
.titulo-productos h1{
    font-size: var(--FontNameSection);
    font-weight: 400;
}


/* --- --- CAROUSEL --- --- */


.carousel__contenedor {
	position: relative;
    margin: 30px;
}

.carousel__contenedor i{
    font-size: 30px;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 20px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: rgb(0, 0, 0);
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -15px;
}

.carousel__siguiente {
	right: -15px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
	height: auto;
    width: 400px;
	margin: 20px;
    padding: 20px;
}
.carousel__elemento a {
	text-decoration: none;
}

.carousel__elemento img:hover{
	filter: brightness(110%);
	-webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.39); 
	box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.39);
}

.carousel__elemento p{
	background-color: var(--colorPrincipal);
    color: white;
    position: relative;
    top: -15px;
    height: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--FontLitle);
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: rgb(17, 17, 17);
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}


/* Carrusel Materiales */
.materiales h1{
	font-size: var(--FontNameSection);
}
.materiales p{
	font-size: var(--FontLitle);
}
.carrusel-materiales {
	
	height: 250px;
	width: 100%;
	top: 60px;
	display: flex;
	justify-content: center;
  }
  
  .card {
	display: flex;
	height: 182px;
	width: 131px;
	background-color: #ffffff;
	border: solid 1px #7A5012;
	box-shadow: -14px -1px 15px 1px rgb(189,180,180);
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
	top:50px;
  }
  
  .card:not(:first-child) {
	  margin-left: -50px;
  }
  
  .card:hover {
	transform: translateY(-20px);
	transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
	position: relative;
	left: 50px;
	transition: 0.4s ease-out;
  }
  
  .title {
	color: var(--colorPrincipal);
	font-weight: 300;
	position: absolute;
	left: 30px;
	top: 15px;
  }

  .card img{
	position: absolute;
    top: 60px;
    left: 10px;
  }

  .colores-materiales{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  .colores-texto{
	margin: 30px;
  }
  
  

  
 