module-menu{
  height: max-content;
    display:flex;
  }
  .imgsConteiner{
    width:33%;
    height:82vh;
    overflow: auto;
  }
  .imgsConteiner img{
    padding: 10px;
    width: 250px;
    overflow: hidden;
    object-fit: contain;
    cursor: pointer;
  }

  .imgConteiner{
    display: flex;
    width: 66%;
    justify-content: center;
    align-items: center;
  }
  .imgConteiner img{
    width: 80%;
    height: 758px;
    object-fit: contain;
}
.generalConteiner{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.generalConteiner button{
  box-sizing: content-box;
  font-size: var(--FontTitle);
  padding: 15px;
  transition: .6s;
}
.generalConteiner button:hover{
  opacity: .4;
}
.prev,.next{
  border: none;
  font-size: var(--FontTitle);
  background-color: inherit;
}
.productsList{
  position: relative;
  top: 65px;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}
@media (max-width:700px) {
  .productsList{
    top:0px;
  }
  .listProduct > * {
    display: none;
  }
  .imgConteiner img{
    width: 80%;
    height: auto;
    object-fit: contain;
}
  module-menu{
    display: flex;
    flex-direction: column-reverse;
  }
  .imgConteiner{
    padding: 0px;
    margin: 0px;
    width: 100%;
    object-fit: contain;
  }
  .generalConteiner button{
    display: none;
  }
  .imgsConteiner{
    display: flex;
    overflow-x: auto;
    width: 100%;
    height: auto;
  }
  .imgsConteiner img{
    height: 100px;
    min-width:100px;
  }
  footer{
    position:relative
  }
}